@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-main font-sans;
}

input[type="range"] {
  @apply appearance-none cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply bg-primary appearance-none rounded-full w-4 h-4;
}

.primary-gradient {
  background-image: linear-gradient(268deg, #fc768a -14.8%, #e65073 102.08%);
}

.bg-cma-banner {
  background: linear-gradient(90deg, #4d1d28, #1f1f1f 37.35%);
}

.profile-card-my-ai:before,
.profile-card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  background: linear-gradient(#0000, #0e0e0eb3);
  pointer-events: none;
  z-index: 1;
}

.profile-image {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.second-image {
  opacity: 0;
  z-index: -1;
}

.profile-card:hover .second-image {
  opacity: 1;
  z-index: 1;
}

.text-grey-default {
  --tw-text-opacity: 1;
  color: rgb(164 164 164 / var(--tw-text-opacity));
}

.text-grey-medium {
  --tw-text-opacity: 1;
  color: rgb(209 209 209 / var(--tw-text-opacity));
}

.text-pink-default {
  --tw-text-opacity: 1;
  color: rgb(249 113 135 / var(--tw-text-opacity));
}

.webkit-transition-sidebar {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.no-scroll {
  overflow: hidden;
  padding-right: calc(env(safe-area-inset-right, 0px) + (100vw - 100%));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(217 132 145 / var(--tw-bg-opacity));
}

.progress-container {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: conic-gradient(#fff0 0, #fff0 0, #fff9 0, #fff9 100%);
  z-index: 0;
}

.red-gradient,
.sub-gradient {
  background: linear-gradient(90deg, #4d1d28 0.9%, #4d1d2800);
}

.sub-gradient {
  border-radius: 10px;
  border: 1px solid var(--Pop-Up-Stroke, #282828);
}

.sub-gradient-active {
  border-radius: 10px;
  border: 2px solid var(--Gradient, #fc768a);
  background: linear-gradient(90deg, #4d1d28 0.9%, #4d1d2800);
}

.fire-tag {
  display: inline-flex;
  padding: 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid #c14864;
  background: linear-gradient(268deg, #e75275 -14.8%, #252525 102.08%);
}

@media (max-width: 768px) {
  .footer-bg-banner {
    background: linear-gradient(
      0deg,
      #4d1d2880,
      #1f1f1f 37.35%,
      #1f1f1f 62.65%,
      #4d1d2880
    );
  }
}

@media (min-width: 768px) {
  .footer-bg-banner {
    background: linear-gradient(
      90deg,
      #4d1d2880,
      #1f1f1f 37.35%,
      #1f1f1f 62.65%,
      #4d1d2880
    );
  }
}
